*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .testimonialsO{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .innerO{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .borderO{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .rowO{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .colO{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonialO{
    background: #fff;
    padding: 30px;
  }
  .testimonialO img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .nameO{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .starsO{
    color: #6ab04c;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .colO{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .colO{
    flex: 100%;
    max-width: 100%;
  }
  }
  